<div class="mb-3">
  <label for="bookTitle" class="form-label">Title</label>
  <input
    type="text"
    name="title"
    id="bookTitle"
    class="form-control"
    value="<%= book.title %>"
    required
  />
</div>

<div class="mb-3">
  <label for="publishDate" class="form-label">Published/Created Date</label>
  <input
    type="date"
    name="publishDate"
    id="publishDate"
    class="form-control"
    value="<%= book.publishDate ? book.publishDate.toISOString().split('T')[0] : '' %>"
  />
</div>

<div class="mb-3">
  <label for="coverImage" class="form-label">Cover Image</label>
  <input type="file" name="cover" id="coverImage" class="form-control" />
</div>
