<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Book</title>
  </head>
  <body>
    <h2>Create a Book</h2>
    <hr />
    <% if (locals.errorMessage != null) { %> <%- locals.errorMessage %> <% } %>
    <form action="/books" method="POST" enctype="multipart/form-data">
      <%- include('./_form_fields', { book: book }) %>
      <hr />
      <a href="/books" class="btn btn-light">Cancel</a>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </body>
</html>
