<footer class="footer mt-auto py-3 bg-light border-top">
  <div class="container text-center">
    <span class="text-muted">
      &copy; <%= new Date().getFullYear() %> Scroll Book | All Rights Reserved.
    </span>

    <div class="mt-2 small">
      <a href="#" class="text-decoration-none text-muted mx-2"
        >Privacy Policy</a
      >
      <a href="#" class="text-decoration-none text-muted mx-2">Terms of Use</a>
    </div>
  </div>
</footer>
